@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./toggleSwitch.css";
@import "./modal.css";
@import "./note.css";
@import "./directory.css";
@import "./results.css";

@layer base {
    html {
        @apply h-full
    }

    body {
        @apply min-h-full h-full
    }
}

div#__next {
    @apply min-h-full flex flex-col
}

.tooltip {
    @apply fixed p-2 bg-slate-800 text-white rounded w-44;
}

.dashboard-layout {
    display: grid;
    grid-template-columns: minmax(30%, 40%) minmax(30%, 1fr);
    width: 100%;
}

.dashboard-directories {
    @apply flex flex-col p-8 pt-6
}

.options-row {
    @apply flex items-center
}

.options {
    @apply w-6 h-6 rounded-sm flex items-center justify-center overflow-hidden fill-option-color
}

.options svg {
    @apply fill-option-color
}
.options + .options {
    @apply ml-2
}

.add-button {
    @apply flex items-center mt-10 text-base
}

.add-button svg {
    @apply fill-button-color-accent mr-5
}

.add-button-directory {
    @apply mb-auto
}

.select [class*="IndicatorsContainer"]{
    display: none;
}

.main-section {
    max-height: calc(100% - 92px);
}